* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("img/fondo.jpg");
  font-family: 'Lora', serif;
}

.header__menu img {
  position: absolute;
  color: white;
  width: 40px;
  top: 7px;
  left: 15px;
}

.header__menu ul {
  list-style: none;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
}

.header__menu ul a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .3rem;
}

.header__menu ul li {
  padding: 1rem 3rem;
}

.header__menu ul li a {
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.header__menu ul li a:hover, .menu ul li a:focus {
  background-size: 100% 2px;
}

.main__section1 {
  background-color: white;
  padding: 30px;
  font-family: 'Josefin Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main__section1 div {
  text-align: center;
  padding: 30px 150px;
}

.main__section1 p {
  width: 25rem;
}

.main__section1 img {
  margin: 25px;
  width: 140px;
  height: 140px;
  opacity: 1;
}

.main__section1 img:hover {
  opacity: .7;
}

.homeAbout {
  background-image: url("https://s1.eestatic.com/2020/01/30/imprescindibles/branded_content-marcas_destacadas-peluqueria_463715097_143867186_1706x960.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
}

.homeAbout h2 {
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.homeAbout p {
  padding: 50px 0px 30px 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: white;
}

.homeAbout input {
  padding: 10px;
  margin: 10px;
}

.boton {
  border: 1px solid black;
  padding: 15px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.boton:hover {
  color: white;
  background-color: black;
}

.main__services {
  background-color: white;
  border: 1px solid black;
  margin: 100px;
}

.main__services p {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  padding: 30px;
}

.main__services ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.main__services li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  margin-top: 20px;
}

.main__services li:last-child {
  width: 100%;
  padding-bottom: 20px;
}

.main__services li span {
  display: block;
  width: 100%;
  margin: 10px 0 0;
  font-family: 'Josefin Sans', sans-serif;
}

.main__services img {
  max-height: 80px;
}

.main__mediaG {
  background-image: url("https://img2.wallspic.com/previews/9/3/7/1/1/111739/111739-peluquera-x750.jpg");
  background-size: conver;
}

.main__mediaG div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__mediaG p {
  text-align: center;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px 0px;
}

.main__mediaG img {
  border-radius: 5%;
  width: 500px;
  height: 500px;
  padding: 10px;
  margin: 30px 30px;
}

.main__mediaG1:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  -webkit-transition: ease .4s;
  transition: ease .4s;
}

.main__acercafoto {
  background-image: url("https://i.gyazo.com/08b31ab9807edd5315292b38712a90e4.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 335px;
}

.main__somos {
  background-color: black;
  height: 100px;
}

.main__somos h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  padding-top: 30px;
  font-family: 'Anton', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
}

.main__acercatext {
  background-color: #b6babb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border: 1px solid black;
  text-align: center;
  width: 60%;
  height: 500px;
  margin: 2% 20% 2% 20%;
}

.main__acercatext h3 {
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
}

.main__acercatext p {
  font-family: cursive;
  padding: 20px;
  font-size: 20px;
}

form {
  text-align: center;
}

.main__Contact legend {
  color: black;
}

.main__Contact div label {
  color: black;
}

.main__mapa iframe {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */